<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="/mystyle.css" />

  </head>
  <body>
    <section>
      <div class="container">
        <nav>
          <a class="navbar-brand" href="/home">
            <img class="logo" src="logo.png" alt="image" />
          </a>
          <ul>
            <li><a href="/warehouses">Warehouses</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="/signin">Login/Signup</a></li>
          </ul>
        </nav>
        <div class="ImgBx">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/I-qmb_O0HSk"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </section>
  </body>
</html>