<form action="/addPallet" method="post">

  <label for="capacity">What's it's Capaity Limit?:</label>
  <input type="number" id="capacity" name="capacity" required /><br />
  <label for="image">Image URL:</label>
  <input type="url" id="image" name="image" required /><br />

  <label for="WarehouseId">Select a warehouse:</label>
  <select class="form-control" id="WarehouseId" name="WarehouseId">
    <option value=""></option>
    {{#each allWarehouses}}
      <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select><br />
  <button type="submit" class="btn btn-primary formbtn">Add Item</button>

</form>

<h3>You can add a new warehouse here!!</h3>

