<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="/mystyle.css" />

  </head>
  <body>
    <section>
      <div class="container">
        <nav>
          <a class="navbar-brand" href="/home">
            <img class="logo" src="logo.png" alt="image" />
          </a>
          <ul>
            <li><a href="/warehouses">Warehouses</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/new-warehouse-form">Add Warehouse</a></li>
            <li><a href="/addPallet">Add Pallet</a></li>
            {{!-- <li><a href="/signin">Login/Signup</a></li> --}}
          </ul>
        </nav>
        <div class="ImgBx">
          <img class="main-img" src="warehouse.jpg" alt="image" />
          <div class="box">
            <h1>Take charge of your Inventory.</h1>
          </div>
        </div>
            <p>{{employeeAlert}}!</p>
      </div>
    </section>
  </body>
</html>