<!DOCTYPE html>
<html lang="en">
<title>Home Page</title><head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style.css"/>
<body>

{{!-- Navbar (sit on top) --}}
<div class="top">
  <div class="bar white wide padding card">
    <a href="#home" class="bar-item button"><b>P | E | M</b> Warehouse Management System</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="right hide small">
      <a href="#projects" class="bar-item button">Projects</a>
      <a href="#about" class="bar-item button">About</a>
      <a href="#contact" class="bar-item button">Contact</a>
    </div>
  </div>
</div>


<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: img("home.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bg"></div>


{{!-- <!-- Header -->
<header class="display-container content-wide" length="max-width:1500px;" id="home">
  <img class="hero" src="home.jpg" alt="home" width="1500" height="800">
  <div class="display-middle margin-top">
    <h1 class="xxlarge text-white"><span class="padding-black opacity-min"><b>PEM</b></span> <span class="hide-small text-light-grey">WMS</span></h1>
  </div>
</header> --}}


</body>
</html>
<a href="/signin"><h2>Back</h2></a>