<div class="big-block">
    <h2 id="item-name">Pallet ID: {{pallet.id}}</h2>
    <img class="item-img" src="{{pallet.image}}" />
    <h3 id="capacity">Capacity: {{pallet.capacity}}</h3>
    <h3>Current number of boxes: <span id="boxCounter">{{pallet.currentCapacity}}</span></h3>
    <button id="addBoxes">Add Boxes</button>
    <button id="removeBoxes">Remove Boxes</button>
    <br><br>
    <button id="deletePallet">Remove Pallet</button>
</div>

<script src="../src/pallet.js"></script>