<iframe src="https://giphy.com/embed/PG1nBLxrY8ZlS08pTh" width="480" height="274" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cbs-comedy-bob-hearts-abishola-bobheartsabishola-PG1nBLxrY8ZlS08pTh">via GIPHY</a></p>

{{#each pallets}}
<section>
    <p>Capacity: {{this.capacity}}</p>
    <p>Current Capacity: {{this.currentCapacity}}</p>
    <img class="item-img" src="{{this.image}}" />
    <a href="/pallets/{{id}}">Click to see go to your pallet</a>
</section>
{{/each}}

