<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin Page</title>
    <link rel="stylesheet" href="/style.css"/>
</head>

    <body>
        <div class="container">
            <div class="lhs-box">
                <img class="logoBox" src="logo.png" alt="logo">
                <div class="list-item-1">


                </div>  
                <div class="list-item-2">
                    <p class="txt-1">Take charge of your inventory</p>
                    <p class="txt-2">Manage with total accuracy</p>
                </div>
                <div class="list-item-3">
                    <p class="txt-3">Login</p>
                </div>
                <div class="signin">
                    <form action="/signin" method="post">
                    <div class="custom-field">
                        <input type="text" id="username" placeholder="Username"/>
                        <input type="text" id="password" placeholder="Password"/>
                        <button class="btn btn-primary" id="submit" type="submit">Submit</button>
                    </div>
                    </form>
                </div>
                    <div class="list-item-4">
                        <p class="p1">Forgot Username?</p>
                        <p class="p2">Forgot Password?</p>
                    </div>
                    <p>{{employeeAlert}}</p>
                    <div class="list-item-5">
                        <p class="txt-5">New User?</p>
                        <button class="btn btn-outline-secondary">Create Account</button>
                    </div>
                </div>
            </div>
            <div class="rhs-box">
                <img class="imgBox" src="image.PNG" alt="image">
                <div class="contentBox">
                <p>Preeti, Erica, & Martin Inc.</br>
                Warehouse Management System</br>
                (establish 12/17/2021)
                </p>
                </div>
            </div>
        </div>
    </body>
</html>