<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup Page</title>
    <link rel="stylesheet" href="/style.css"/>
</head>

    <body>
        <div class="container">
            <div class="lhs-box">
                <img class="logoBox" src="logo.png" alt="logo">
                {{!-- <div class="list-item-1"></div>   --}}
                <div class="list-item-2">
                    <p class="txt-1">Take charge of your inventory</p>
                    <p class="txt-2">Manage with total accuracy</p>
                </div>
                <div class="list-item-3">
                    <p class="txt-3">Signup</p>
                </div>
                <div class="signin">
                    <form action="/signup" method="post">
                    <div class="custom-field">
                        <label for="username"></label>
                        <input type="text" id="username" name="username" placeholder="Username:" required><br/>
                        <label for="password"></label>
                        <input type="password" id="password" name="password" placeholder="Password:" required><br/>
                        <label for="confirm"></label>
                        <input type="password" id="confirm" name="confirm" placeholder="Confirm Password:" required><br/>
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </div>
                    </form>
                    <p>{{employeeAlert}}</p>
                
                </div>
                <a class="btn btn-primary" href="/signin" role="button">Back to Signin</a>
                    {{!-- <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        This is an alert box.
                    </div> --}}
                
                    {{!-- <div class="list-item-4">
                        <p class="p1">Forgot Username?</p>
                        <p class="p2">Forgot Password?</p>
                    </div> --}}
                    {{!-- <div class="list-item-5">
                        <p class="txt-5">New User?</p>
                        <button type="button" href= "/signup" class="btn btn-outline-secondary">Create Account</button>
                    </div> --}}
                </div>
            
            <div class="rhs-box">
                <img class="imgBox" src="image.PNG" alt="image">
                <div class="contentBox">
                <p>Preeti, Erica, & Martin Inc.</br>
                Warehouse Management System</br>
                (establish 12/17/2021)
                </p>
                </div>
            </div>
        </div>
    </body>
</html>


{{!-- <h2>Welcome to P|E|M Warehouse Management System</h2>
<h3>Create a username and password to login</h3>
<form action="/signup" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br/>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br/>
    <label for="confirm">Confirm Password:</label>
    <input type="password" id="confirm" name="confirm" required><br/>
    <button type="submit">Create Account</button>
</form>
<h3>{{employeeAlert}}</h3>
<a href="/warehouses"><h2>Back</h2></a> --}}